{% extends 'base.html' %}

{% block content %}

{% load cart %}
{% load custom_filter %}
<!-- body -->
<style>
	a {
		font-size:14px;
		font-weight:700
	  }
	  .superNav {
		font-size:13px;
		
	  }
	  .form-control {
		outline:none !important;
		box-shadow: none !important;
	  }
	  @media screen and (max-width:540px){
		.centerOnMobile {
		  text-align:center
		}
	  }
	  .footer {
		background-color: #414141;
		width: 100%;
		text-align: left;
		font-family: sans-serif;
		font-weight: bold;
		font-size: 16px;
		padding: 50px;
		margin-top: 50px;
	  }
	  
	  .footer .footer-left,
	  .footer .footer-center,
	  .footer .footer-right {
		display: inline-block;
		vertical-align: top;
	  }
	  
	  
	  /* footer left*/
	  
	  .footer .footer-left {
		width: 33%;
		padding-right: 15px;
	  }
	  
	  .footer .about {
		line-height: 20px;
		color: #ffffff;
		font-size: 13px;
		font-weight: normal;
		margin: 0;
	  }
	  
	  .footer .about span {
		display: block;
		color: #ffffff;
		font-size: 14px;
		font-weight: bold;
		margin-bottom: 20px;
	  }
	  
	  .footer .icons {
		margin-top: 25px;
	  }
	  
	  .footer .icons a {
		display: inline-block;
		width: 35px;
		height: 35px;
		cursor: pointer;
		background-color: #33383b;
		border-radius: 2px;
		font-size: 20px;
		color: #ffffff;
		text-align: center;
		line-height: 35px;
		margin-right: 3px;
		margin-bottom: 5px;
	  }
	  
	  
	  /* footer center*/
	  
	  .footer .footer-center {
		width: 30%;
	  }
	  
	  .footer .footer-center i {
		background-color: #33383b;
		color: #ffffff;
		font-size: 25px;
		width: 38px;
		height: 38px;
		border-radius: 50%;
		text-align: center;
		line-height: 42px;
		margin: 10px 15px;
		vertical-align: middle;
	  }
	  
	  .footer .footer-center i.fa-envelope {
		font-size: 17px;
		line-height: 38px;
	  }
	  
	  .footer .footer-center p {
		display: inline-block;
		color: #ffffff;
		vertical-align: middle;
		margin: 0;
	  }
	  
	  .footer .footer-center p span {
		display: block;
		font-weight: normal;
		font-size: 14px;
		line-height: 2;
	  }
	  
	  .footer .footer-center p a {
		color: #e88707;
		text-decoration: none;
	  }
	  
	  
	  /* footer right*/
	  
	  .footer .footer-right {
		width: 35%;
	  }
	  
	  .footer h2 {
		color: #ffffff;
		font-size: 36px;
		font-weight: normal;
		margin: 0;
	  }
	  
	  .footer h2 span {
		color: #e88707;
	  }
	  
	  .footer .menu {
		color: #ffffff;
		margin: 20px 0 12px;
		padding: 0;
	  }
	  
	  .footer .menu a {
		display: inline-block;
		line-height: 1.8;
		text-decoration: none;
		color: inherit;
	  }
	  
	  .footer .menu a:hover {
		color: #0099ff;
	  }
	  
	  .footer .name {
		color: #e88707;
		font-size: 14px;
		font-weight: normal;
		margin: 0;
	  }
	  
	  @media (max-width: 767px) {
		.footer {
		  font-size: 14px;
		}
		.footer .footer-left,
		.footer .footer-center,
		.footer .footer-right {
		  display: block;
		  width: 100%;
		  margin-bottom: 40px;
		  text-align: center;
		}
		.footer .footer-center i {
		  margin-left: 0;
		}
	  }
</style>

<div class="superNav border-bottom py-1 bg-light">
	<div class="container">
	  <div class="row">
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 centerOnMobile">
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-none d-lg-block d-md-block-d-sm-block d-xs-none text-end">
		</div>
	  </div>
	</div>
  </div>
  <nav class="navbar navbar-expand-lg bg-white navbar-light p-3 shadow-sm">
	<div class="container">
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
		</div>
		<ul class="navbar-nav col-lg-10">
		  <li class="nav-item">
			{% for category in categories %}
			<a style="Float:left;"class="nav-link mx-2 text-uppercase active" aria-current="page" href="/?category={{category.id}}"><font face="Calibri">{{category.name}}</font></a>
			{% endfor %}
		  </li>
		</ul>
	  </div>
	</div>
  </nav>
  <div class="superNav border-bottom py-1 bg-light">
	<div class="container">
	  <div class="row">
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 centerOnMobile">
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-none d-lg-block d-md-block-d-sm-block d-xs-none text-end">
		</div>
	  </div>
	</div>
  </div>
  <br>
  <div id='products' class="col-lg-10 mx-auto">
	<div class="row mx-auto">
		{% for product in products %}
		<div class="card mx-auto mb-3" id={{product.id}} style="width: 18rem;">
			<img class="card-img-top" src="{{product.image.url}}" alt="Card image cap">
			<div class="card-body">
				<p style="text-align:center;font-family:vendana;"class="card-title"><b>{{product.name}}</b></p>
				<p style="text-align:center;font-family:courier;font-size:25px"class="card-text"><b>{{product.price|currency}}</b></p>
				<!-- {{product | is_in_cart:request.session.cart }} -->
			</div>

			<div class="card-footer p-0 no-gutters">

				{% if product|is_in_cart:request.session.cart %}
				<div class="row no-gutters">
					<form action="/#{{product.id}}" class="col-2 " method="post">
						{% csrf_token %}
						<input hidden type="text" name='product' value='{{product.id}}'>
						<input hidden type="text" name='remove' value='True'>
						<input type="submit" value=" - " class="btn btn-block btn-warning border-right">
					</form>
					<div class="text-center col btn btn-warning" >{{product|cart_quantity:request.session.cart}} Sepette</div>
					<form action="/#{{product.id}}" class="col-2 " method="post">
						{% csrf_token %}
						<input hidden type="text" name='product' value='{{product.id}}'>
						<input type="submit" value=" + " class="btn btn-block btn-warning border-left">
					</form>
				</div>
				{% else %}
				<form action="/#{{product.id}}" method="POST" class="btn-block">
					{% csrf_token %}
					<input hidden type="text" name='product' value='{{product.id}}'>
					<input type="submit"style="font-family:Arial;"class="float-right btn btn-warning form-control"value="Sepete Ekle">
				</form>
				{% endif %}

			</div>

		</div>
		{% endfor %}
	</div>
</div>
</div>
<footer class="footer">
	<div class="footer-left col-md-4 col-sm-6">
	  <p class="about">
		<span> Şirket hakkında</span> Trendalya, merkezi Bursada bulunan bir e-ticaret pazaryeri. Trendalya, 2022’de giyim ürünleri satışı yapılan bir alışveriş sitesi olarak kuruldu. Büyümesine paralel sunduğu ürün ve hizmetleri genişleterek pazaryeri formatına dönüşen sitede; moda, elektronik, ev ve mobilya, gıda, anne-çocuk, kozmetik gibi birçok kategoride satış yapmaktadır.
	  </p>
	  <div class="icons">
		<input type="image" src="https://cdn-icons-png.flaticon.com/512/21/21155.png" value="submit" style="width:35px;height:35px;">
		<input type="image" src="https://kartinkin.net/uploads/posts/2022-12/1670497605_3-kartinkin-net-p-monokhromnie-kartinki-instagram-3.png" value="submit" style="width:35px;height:35px;">
		<input type="image" src="https://www.freepngimg.com/thumb/social_media/73991-media-icons-computer-twitter-social-download-hq-png.png" value="submit" style="width:35px;height:35px;">
		<input type="image" src="https://cdn1.iconfinder.com/data/icons/social-media-rounded-corners/512/Rounded_Whatsapp_svg-1024.png" value="submit" style="width:35px;height:35px;">
		<input type="image" src="https://cdn-icons-png.flaticon.com/512/38/38669.png" value="submit" style="width:35px;height:35px;">
	  </div>
	</div>
	<div class="footer-center col-md-4 col-sm-6">
	  <div>
		<i class="fa fa-map-marker"></i>
		<p><span> Ülke ve Şehir</span> Türkiye, Bursa</p>
	  </div>
	  <div>
		<i class="fa fa-phone"></i>
		<p> (+90) 537 825 17 76</p>
	  </div>
	  <div>
		<i class="fa fa-envelope"></i>
		<p><a href="#"> selahattin.dindas@gmail.com</a></p>
	  </div>
	</div>
	<div class="footer-right col-md-4 col-sm-6">
	  <h2> trend<span>alya</span></h2>
	  <p class="menu">
		<a href="#"> Home</a> |
		<a href="#"> Hakkında</a> |
		<a href="#"> Hizmetler</a> |
		<a href="#"> Portföy</a> |
		<a href="#"> Haberler</a> |
		<a href="#"> Bağlantı</a>
	  </p>
	  <p class="name"> trendalya &copy; 2022</p>
	</div>
  </footer>
{% endblock %}
